@inherits LayoutComponentBase
<div class="page">
    <header class="top-header">
        <NavMenu />
    </header>

    <main class="main-content">
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
